<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do Lists</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <p>
            <a href="{%url 'todo_list_create' %}">Create a New To Do List</a>
            </p>
            <p>
                <a href="{%url 'todo_item_create' %}">Create a New Item</a>
                </p>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number of Items</th>
                </tr>
                {% for todo_list in todo_list_list %}
                <tr>
                    <td><a href="{%url 'todo_list_detail' todo_list.id %}">{{todo_list.name}}</a></td>
                    <td>{{todo_list.items.count}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>

</body>
</html>
